$primary: #335358;
$secondary: #e9ecef;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

main {
  min-height: calc(100vh - 27rem);
}
body {
  h1 {
    color: $secondary;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $primary;
    font-family: "Montserrat", sans-serif !important;
  }
  .container {
    margin-top: 2rem;
  }
  .bg {
    &-primary {
      background-color: $primary !important;
      color: $secondary;
    }
    &-secondary {
      background-color: $secondary !important;
      color: $primary;
    }
  }
  .btn {
    &-primary {
      background-color: $primary;
      border: $primary;
      &:hover {
        background-color: darken($color: $primary, $amount: 8);
      }
      &:focus {
        background-color: darken($color: $primary, $amount: 8);
      }
      &:active {
        margin: 0px;
      }
    }
    &-secondary {
      background-color: $secondary;
      border: $secondary;
      color: $primary !important;
      &:hover {
        background-color: darken($color: $secondary, $amount: 8);
      }
    }
  }
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  span {
    color: $primary;
    background-color: $secondary;
    padding: 17px;
    font-weight: 800;
  }
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 55px;
  a {
    color: $secondary;
  }
}

.carousel {
  &-item {
    height: 32rem;
    background-position: center center;
    > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 32rem;
    }
  }
  p {
    color: $secondary;
  }
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin-top: 3rem;
  h3,
  p {
    width: 80%;
    margin: auto;
    color: $secondary;
  }
  h3 {
    padding-top: 25%;
    font-size: 2rem;
  }
  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-position: center center;
    background-attachment: cover;
  }
}

/*Events page*/

.hero__self .carousel {
  &-item {
    height: 20rem;
    background-position: center center;
    > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 20rem;
    }
  }
}

.events {
  &-filter{
    width: 60%;
  }
  .card {
    width: 70%;
    margin: auto;
    &-title {
      font-weight: 400;
    }
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px; /* fallback */
      max-height: 64px; /* fallback */
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    .card-img-top {
      width: 100%;
      & img {
        width: 100%;
      }
    }
  }
}

/*True for all from tablets  --> */

@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-back {
    background-color: $secondary;
    transform: rotateY(180deg);
    z-index: 1;
  }
  .flip-card p {
    position: relative;
    top: 33%;
    color: $primary;
  }

  .events {
    &-filter{
      width: 30%;
      margin-right: 0px;
    }
    .card {
      width: 100%;
      flex-direction: row;
      align-items: center;
      .card-img-top {
        width: 30%;
        & img {
          width: 30%;
        }
      }
    }
  }
}

/*True for large srcreen*/

.events {
  @media only screen and (max-width: 1200px) {
    .card-img-top {
      width: 30%;
      & img {
        width: 30%;
      }
    }
  }
}
