@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
main {
  min-height: calc(100vh - 27rem);
}

body h1 {
  color: #e9ecef;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a {
  color: #335358;
  font-family: "Montserrat", sans-serif !important;
}
body .container {
  margin-top: 2rem;
}
body .bg-primary {
  background-color: #335358 !important;
  color: #e9ecef;
}
body .bg-secondary {
  background-color: #e9ecef !important;
  color: #335358;
}
body .btn-primary {
  background-color: #335358;
  border: #335358;
}
body .btn-primary:hover {
  background-color: #243b3e;
}
body .btn-primary:focus {
  background-color: #243b3e;
}
body .btn-primary:active {
  margin: 0px;
}
body .btn-secondary {
  background-color: #e9ecef;
  border: #e9ecef;
  color: #335358 !important;
}
body .btn-secondary:hover {
  background-color: #d1d8de;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.navbar-brand span {
  color: #335358;
  background-color: #e9ecef;
  padding: 17px;
  font-weight: 800;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 55px;
}
footer a {
  color: #e9ecef;
}

.carousel-item {
  height: 32rem;
  background-position: center center;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.carousel p {
  color: #e9ecef;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin-top: 3rem;
}
.flip-card h3,
.flip-card p {
  width: 80%;
  margin: auto;
  color: #e9ecef;
}
.flip-card h3 {
  padding-top: 25%;
  font-size: 2rem;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-position: center center;
  background-attachment: cover;
}

/*Events page*/
.hero__self .carousel-item {
  height: 20rem;
  background-position: center center;
}
.hero__self .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 20rem;
}

.events-filter {
  width: 60%;
}
.events .card {
  width: 70%;
  margin: auto;
}
.events .card-title {
  font-weight: 400;
}
.events .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 64px;
  /* fallback */
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.events .card .card-img-top {
  width: 100%;
}
.events .card .card-img-top img {
  width: 100%;
}

/*True for all from tablets  --> */
@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-back {
    background-color: #e9ecef;
    transform: rotateY(180deg);
    z-index: 1;
  }

  .flip-card p {
    position: relative;
    top: 33%;
    color: #335358;
  }

  .events-filter {
    width: 30%;
    margin-right: 0px;
  }
  .events .card {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .events .card .card-img-top {
    width: 30%;
  }
  .events .card .card-img-top img {
    width: 30%;
  }
}
/*True for large srcreen*/
@media only screen and (max-width: 1200px) {
  .events .card-img-top {
    width: 30%;
  }
  .events .card-img-top img {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
